/* 

input{
    margin-top: 50px;
    margin-left: 50px;
} */

.main{
    padding: 0px !important;
    margin: 0px !important;
    height: 600px;
}
.content-1{
    margin-top: 50px;
}
.todo_body{
    width: 100%;
    background-color: yellow;
    padding: 40px;
    border-radius: 10px;
}
.input1 input{
    width: 400px;
}